body,
body * {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: WorkSans-VariableFont_wght;;
}

@font-face {
    font-family: WorkSans-VariableFont_wght;
    src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: CrimsonText-Roman;
    src: url(../fonts/crimson-text/CrimsonText-Roman.ttf);
}

@import '../3rd-party/font-awesome.min.css';