.header,
.main,
.footer {
    padding: 0 9.3%;
}
/* Header*/
.header {
    background-color: #74C69D;
}
/* Navigation*/
.navigation {
background-color: darkolivegreen;
display: flex;
}
/* Navigation end*/
/* Hero section*/
.hero {
    display: flex;
    padding: 5% 0;
}

.herotext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    margin-right: 20%;
    padding: 3% 0;
}

.herotext > h1 {
    color: white;
    font-size: 20px;
    font-family: "CrimsonText-Roman";
}

.herotext > h5 {
    color: white;
    font-family: 'WorkSans-VariableFont_wght';
    letter-spacing: 0.2em;
    font-size: 8px;

}

.herotext > p {
    color: white;
    font-family: 'WorkSans-VariableFont_wght';
    font-size: 7px;

}

.herotext > button {
    width: 25%;
    font-size: 10px;
}

.heroimg {
    width: 50%;
}

.herotext > .buttonWhite {
    background-color: white;
    border-radius: 5%;
    border-color: white;
    border-style: none;
    text-align: center;
    width: 120px;
    padding: 7px 0;
    font-family: 'WorkSans-VariableFont_wght';
}
/* Hero section end*/
/* Header end*/
/* Main*/

.partnerslogo {
    margin-top: 25px;
}

.partnerslogo > .description {
    width: 204px;
    margin: 0px calc(50% - 102px);
}
.partnerslogo > div > h5 {
    color: #74C69D;
    font-family: 'WorkSans-VariableFont_wght';
    font-size: 8px;
    letter-spacing: 0.2em;
    line-height: 20px;
    text-align: center;
}   

.partnerslogo > div > h2 {
text-align: center;
font-size: 20px;
line-height: 25px;
font-family: "CrimsonText-Roman";
}

.partnerslogo > div > p {
    font-family: 'WorkSans-VariableFont_wght';
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    margin-top: 10px;
}  

.partners {
    width: 15%;
}

.logoImg {
display: flex;
justify-content: space-between;
margin: 25px 0px;
}

.buttonBlack {
    background-color: black;
    border-radius: 5%;
    border-color: black;
    border-style: none;
    color: white;
    text-align: center;
    width: 120px;
    padding: 7px 0;
    font-family: 'WorkSans-VariableFont_wght';
    margin: 0px calc(50% - 60px);
}

.meeting {
    background-color: bisque;
}

.creative {
    background-color: burlywood;
}

.talents {
    background-color: aquamarine;
}

/* Main end*/

/* Footer*/
.footer {
    background-color: #74C69D ;
}
.footercontainer {
    display: flex;
}
/* Footer end*/

/* Responsible design*/


@media (max-width: 1100px) {

}

@media (max-width: 900px) {
h4 {
    font-size: ;
}
}

@media (max-width: 700px) {
.herotext {
    margin-right: 10%;
    width: 40%;
}
.buttonWhite {
    margin-top: 10px;
}
.herotext > p {
    margin-top: 5px;
}
}

@media (max-width: 440px) {
    .hero {
       flex-wrap: wrap;
   }
   .herotext {
       width: 100%;
        margin-right: 0;
        gap: 15px;
        margin-bottom: 15px;
   }
   .heroimg  {
       width: 100%;
   }
   .herotext > h5, h1, p {
       text-align: center;
   }

   .herotext > h5 {
       font-size: 12px;
   }

   .buttonWhite {
       margin: 0px calc(50% - 60px);
   }

   .herotext > p {
    margin-top: 0;
}
  
}





/* Responsible design*/